 html,body{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4.3em ;
}

nav{
    width: 100%;
    background-color: slategrey ;
    height: 44px;
    padding: 0 40px;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}


nav ul li  a{
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: antiquewhite;
    margin:0;
}

nav ul li a:hover {
    background-color:white;
    color: lavender;
}

header{
    height: 350px;
    background-color:#b4c6f0;
    background-image: url('/bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;   
}
header h1, 
header h2 {
    text-align: center;
    margin:0;
}
header h1 {
    color: azure;
    font-size: 4.2em;
    margin-bottom: 20px;
}
header h2 {
    color: #4d5791
}
 main {
    padding: 40px;
    max-width: 768px;
 }

.center{
    text-align: center;
}

main article {
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin:0;
}

footer{
    width: 100%;
    height: 44px; 
    background-color: slategrey;
    padding: 0 40px;
    font-size: 1.4em;
    text-align: center;
    margin:10px;
}

@media screen  and (min-width: 768px) {
    main article{
        margin: 10px;
    }
    
}